{% extends "blog/base.html" %}

{% block content %}
        <h1>rybka_website</h1>
                Rybka_website is a community hub for chess enthusiasts to discuss the popular chess engine Rybka. Founded in 2007, our site features:
                <ul>
                        <li>Blogs and articles about Rybka and chess programming</li>
                        <li>Forums to chat about Rybka's development and chess in general</li>
                        <li>Information on purchasing Rybka 4 and Deep Rybka 4</li>
                        <li>Links to download Rybka and other free chess engines like Houdini 2</li>
                </ul>
                Rybka was created by programmer <b>Andrey Rybkin</b> and became the world's strongest chess engine for several years. However, in 2011 Rybka was disqualified from tournaments after accusations that it copied code from other open source engines like Fruit.
                Despite this controversy, Rybka remains a popular and powerful chess program. Our website aims to be a hub for the Rybka community to discuss the engine's history, analyze its games, and explore the world of computer chess. We welcome all Rybka fans and chess enthusiasts to join the conversation!
{% endblock %}