{% extends "blog/base.html" %}

{% block content %}
        <h1>Welcome to rybka_website</h1>
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-header">
                    By <b>{{ post.author }}</b> on {{ post.date }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        {% endfor%}
{% endblock %}