{% extends "blog/base.html" %}

{% block content %}
<h1>Welcome to rybka_website</h1>
{% load static %}
{% for post in posts reversed%}
<div class="card mb-3">
    <div class="card-header">
        By <b>{{ post.author.user.username }}</b>
        <img src={{ post.author.avatar.url }} class="rounded-circle" alt="img" style="width: 19px; height: 19px;">
        on {{ post.date }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}